framework/
webminigi/protected/runtime/application.log
webminigi/.htaccess

webminigiV11/protected/runtime/application.log
webminigiV11/.htaccess
Reportesss/
Reportes.zip
framework.zip

webminigiV11.zip